
<header>
    <h1>칸그림 SCM</h1>
    <span class="update_date">@ViewBag.LoginName</span>
</header>
<aside>
    <h2 class="blind">Menu</h2>
    <div id="cssmenu">
        <ul class="lnb_menu">
            <li class="has-sub">
                <a href="#none" title="메뉴"><span>메뉴1</span></a>
                <ul class="lnb_menu_sublist">
                    <li><a href="#" title="서브메뉴"><span>서브메뉴1</span></a></li>
                    <li><a href="#" title="서브메뉴"><span>서브메뉴2</span></a></li>
                    <li><a href="#" title="서브메뉴"><span>서브메뉴3</span></a></li>
                    <li class="last"><a href="#" title="서브메뉴"><span>서브메뉴4</span></a></li>
                </ul>
            </li>
            <li><a href="#" title="메뉴"><span>메뉴2</span></a></li>
        </ul>
    </div>
</aside>
