<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="true" />
	</settings>

	<providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>
	
	<database>
		<provider name="sqlServer2.0" />
		<dataSource name="IKLIB" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKBIZ; User Id=sa; Password=ikaan##&amp;"/>
	</database>
	<alias>
		<typeAlias alias="ADSystem" type="IKaan.Model.SYS.AD.ADSystem, IKaan.Model" />
		<typeAlias alias="ADServer" type="IKaan.Model.SYS.AD.ADServer, IKaan.Model" />
		<typeAlias alias="ADDatabase" type="IKaan.Model.SYS.AD.ADDatabase, IKaan.Model" />
		<typeAlias alias="ADTable" type="IKaan.Model.SYS.AD.ADTable, IKaan.Model" />
		<typeAlias alias="ADColumn" type="IKaan.Model.SYS.AD.ADColumn, IKaan.Model" />
		<typeAlias alias="ADTableStatistics" type="IKaan.Model.SYS.AD.ADTableStatistics, IKaan.Model" />
		
		<typeAlias alias="BCAppointment" type="IKaan.Model.BIZ.BC.BCAppointment, IKaan.Model" />
		<typeAlias alias="BCDepartment" type="IKaan.Model.BIZ.BC.BCDepartment, IKaan.Model" />
		<typeAlias alias="BCDepartmentHist" type="IKaan.Model.BIZ.BC.BCDepartmentHist, IKaan.Model" />
		<typeAlias alias="BCEmployee" type="IKaan.Model.BIZ.BC.BCEmployee, IKaan.Model" />
		<typeAlias alias="BCHoliday" type="IKaan.Model.BIZ.BC.BCHoliday, IKaan.Model" />
		
		<typeAlias alias="BMAddress" type="IKaan.Model.BIZ.BM.BMAddress, IKaan.Model" />
		<typeAlias alias="BMBusiness" type="IKaan.Model.BIZ.BM.BMBusiness, IKaan.Model" />
		<typeAlias alias="BMBrand" type="IKaan.Model.BIZ.BM.BMBrand, IKaan.Model" />
		<typeAlias alias="BMBrandImage" type="IKaan.Model.BIZ.BM.BMBrandImage, IKaan.Model" />
		<typeAlias alias="BMBrandContact" type="IKaan.Model.BIZ.BM.BMBrandContact, IKaan.Model" />
		<typeAlias alias="BMBrandManager" type="IKaan.Model.BIZ.BM.BMBrandManager, IKaan.Model" />
		<typeAlias alias="BMCustomer" type="IKaan.Model.BIZ.BM.BMCustomer, IKaan.Model" />
		<typeAlias alias="BMCustomerBrand" type="IKaan.Model.BIZ.BM.BMCustomerBrand, IKaan.Model" />
		<typeAlias alias="BMCustomerChannel" type="IKaan.Model.BIZ.BM.BMCustomerChannel, IKaan.Model" />
		<typeAlias alias="BMCustomerAddress" type="IKaan.Model.BIZ.BM.BMCustomerAddress, IKaan.Model" />
		<typeAlias alias="BMCustomerBusiness" type="IKaan.Model.BIZ.BM.BMCustomerBusiness, IKaan.Model" />
		<typeAlias alias="BMCustomerBank" type="IKaan.Model.BIZ.BM.BMCustomerBank, IKaan.Model" />
		<typeAlias alias="BMChannel" type="IKaan.Model.BIZ.BM.BMChannel, IKaan.Model" />
		<typeAlias alias="BMChannelBrand" type="IKaan.Model.BIZ.BM.BMChannelBrand, IKaan.Model" />
		<typeAlias alias="BMChannelContact" type="IKaan.Model.BIZ.BM.BMChannelContact, IKaan.Model" />
		<typeAlias alias="BMChannelManager" type="IKaan.Model.BIZ.BM.BMChannelManager, IKaan.Model" />
		<typeAlias alias="BMPerson" type="IKaan.Model.BIZ.BM.BMPerson, IKaan.Model" />
		<typeAlias alias="BMSearchBrand" type="IKaan.Model.BIZ.BM.BMSearchBrand, IKaan.Model" />
		<typeAlias alias="BMSearchBrandActivity" type="IKaan.Model.BIZ.BM.BMSearchBrandActivity, IKaan.Model" />
		
		<typeAlias alias="BGCategory" type="IKaan.Model.BIZ.BG.BGCategory, IKaan.Model" />
		<typeAlias alias="BGGoods" type="IKaan.Model.BIZ.BG.BGGoods, IKaan.Model" />
		<typeAlias alias="BGGoodsDetail" type="IKaan.Model.BIZ.BG.BGGoodsDetail, IKaan.Model" />
		<typeAlias alias="BGGoodsImage" type="IKaan.Model.BIZ.BG.BGGoodsImage, IKaan.Model" />
		<typeAlias alias="BGGoodsItem" type="IKaan.Model.BIZ.BG.BGGoodsItem, IKaan.Model" />
		<typeAlias alias="BGGoodsInfoNotice" type="IKaan.Model.BIZ.BG.BGGoodsInfoNotice, IKaan.Model" />
		<typeAlias alias="BGGoodsAttribute" type="IKaan.Model.BIZ.BG.BGGoodsAttribute, IKaan.Model" />
		<typeAlias alias="BGInfoNotice" type="IKaan.Model.BIZ.BG.BGInfoNotice, IKaan.Model" />
		<typeAlias alias="BGInfoNoticeItem" type="IKaan.Model.BIZ.BG.BGInfoNoticeItem, IKaan.Model" />

		<typeAlias alias="BTOrderSum" type="IKaan.Model.BIZ.BT.BTOrderSum, IKaan.Model" />
		<typeAlias alias="BTOrderSumByChannel" type="IKaan.Model.BIZ.BT.BTOrderSumByChannel, IKaan.Model" />
		<typeAlias alias="BTOrderSumSales" type="IKaan.Model.BIZ.BT.BTOrderSumSales, IKaan.Model" />
		
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADSystemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADServerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADDatabaseSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADTableSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADColumnSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BC.BCAppointmentSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BC.BCDepartmentSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BC.BCDepartmentHistSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BC.BCEmployeeSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMAddressSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMBusinessSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMBrandImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMBrandContactSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMBrandManagerSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMChannelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMChannelBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMChannelContactSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMChannelManagerSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMCustomerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMCustomerAddressSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMCustomerBankSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMCustomerBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMCustomerBusinessSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMCustomerChannelSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMPersonSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMSearchBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMSearchBrandActivitySQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BG.BGCategorySQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BG.BGGoodsSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BG.BGGoodsDetailSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BG.BGGoodsImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BG.BGGoodsItemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BG.BGGoodsInfoNoticeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BG.BGGoodsAttributeSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BG.BGInfoNoticeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BG.BGInfoNoticeItemSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BT.BTOrderSumSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>