<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>
	
  <database>
    <provider name="sqlServer2.0" />
	  <dataSource name="IKLIB" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKLIB; User Id=sa; Password=ikaan##&amp;"/>
  </database>

	<alias>
		<typeAlias alias="ADSystem" type="IKaan.Model.SYS.AD.ADSystem, IKaan.Model" />
		<typeAlias alias="ADServer" type="IKaan.Model.SYS.AD.ADServer, IKaan.Model" />
		<typeAlias alias="ADDatabase" type="IKaan.Model.SYS.AD.ADDatabase, IKaan.Model" />
		<typeAlias alias="ADTable" type="IKaan.Model.SYS.AD.ADTable, IKaan.Model" />
		<typeAlias alias="ADColumn" type="IKaan.Model.SYS.AD.ADColumn, IKaan.Model" />
		<typeAlias alias="ADTableStatistics" type="IKaan.Model.SYS.AD.ADTableStatistics, IKaan.Model" />
		
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADSystemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADServerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADDatabaseSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADTableSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADColumnSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>