<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="true" />
	</settings>

	<providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>
	
	<database>
		<provider name="sqlServer2.0" />
		<dataSource name="IKBiz" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKBiz; User Id=sa; Password=ikaan##&amp;"/>
	</database>
	<alias>
		<typeAlias alias="SystemModel" type="IKaan.Model.IKBase.SystemModel, IKaan.Model" />
		<typeAlias alias="ServerModel" type="IKaan.Model.IKBase.ServerModel, IKaan.Model" />
		<typeAlias alias="DatabaseModel" type="IKaan.Model.IKBase.DatabaseModel, IKaan.Model" />
		<typeAlias alias="TableModel" type="IKaan.Model.IKBase.TableModel, IKaan.Model" />
		<typeAlias alias="ColumnModel" type="IKaan.Model.IKBase.ColumnModel, IKaan.Model" />
		<typeAlias alias="TableStatisticsModel" type="IKaan.Model.IKBase.TableStatisticsModel, IKaan.Model" />
		
		<typeAlias alias="AppointmentModel" type="IKaan.Model.IKBiz.AppointmentModel, IKaan.Model" />
		<typeAlias alias="DepartmentModel" type="IKaan.Model.IKBiz.DepartmentModel, IKaan.Model" />
		<typeAlias alias="DepartmentHistModel" type="IKaan.Model.IKBiz.DepartmentHistModel, IKaan.Model" />
		<typeAlias alias="EmployeeModel" type="IKaan.Model.IKBiz.EmployeeModel, IKaan.Model" />
		<typeAlias alias="HolidayModel" type="IKaan.Model.IKBiz.HolidayModel, IKaan.Model" />
		
		<typeAlias alias="AddressModel" type="IKaan.Model.IKBiz.AddressModel, IKaan.Model" />
		<typeAlias alias="BusinessModel" type="IKaan.Model.IKBiz.BusinessModel, IKaan.Model" />
		<typeAlias alias="BrandModel" type="IKaan.Model.IKBiz.BrandModel, IKaan.Model" />
		<typeAlias alias="BrandImageModel" type="IKaan.Model.IKBiz.BrandImageModel, IKaan.Model" />
		<typeAlias alias="BrandContactModel" type="IKaan.Model.IKBiz.BrandContactModel, IKaan.Model" />
		<typeAlias alias="BrandManagerModel" type="IKaan.Model.IKBiz.BrandManagerModel, IKaan.Model" />
		<typeAlias alias="CustomerModel" type="IKaan.Model.IKBiz.CustomerModel, IKaan.Model" />
		<typeAlias alias="CustomerBrandModel" type="IKaan.Model.IKBiz.CustomerBrandModel, IKaan.Model" />
		<typeAlias alias="CustomerChannelModel" type="IKaan.Model.IKBiz.CustomerChannelModel, IKaan.Model" />
		<typeAlias alias="CustomerAddressModel" type="IKaan.Model.IKBiz.CustomerAddressModel, IKaan.Model" />
		<typeAlias alias="CustomerBusinessModel" type="IKaan.Model.IKBiz.CustomerBusinessModel, IKaan.Model" />
		<typeAlias alias="CustomerBankModel" type="IKaan.Model.IKBiz.CustomerBankModel, IKaan.Model" />
		<typeAlias alias="ChannelModel" type="IKaan.Model.IKBiz.ChannelModel, IKaan.Model" />
		<typeAlias alias="ChannelBrandModel" type="IKaan.Model.IKBiz.ChannelBrandModel, IKaan.Model" />
		<typeAlias alias="ChannelContactModel" type="IKaan.Model.IKBiz.ChannelContactModel, IKaan.Model" />
		<typeAlias alias="ChannelManagerModel" type="IKaan.Model.IKBiz.ChannelManagerModel, IKaan.Model" />
		<typeAlias alias="PersonModel" type="IKaan.Model.IKBiz.PersonModel, IKaan.Model" />
		<typeAlias alias="SearchBrandModel" type="IKaan.Model.IKBiz.SearchBrandModel, IKaan.Model" />
		<typeAlias alias="SearchBrandActivityModel" type="IKaan.Model.IKBiz.SearchBrandActivityModel, IKaan.Model" />
		
		<typeAlias alias="CategoryModel" type="IKaan.Model.IKBiz.v, IKaan.Model" />
		<typeAlias alias="GoodsModel" type="IKaan.Model.IKBiz.GoodsModel, IKaan.Model" />
		<typeAlias alias="GoodsDetailModel" type="IKaan.Model.IKBiz.GoodsDetailModel, IKaan.Model" />
		<typeAlias alias="GoodsImageModel" type="IKaan.Model.IKBiz.GoodsImageModel, IKaan.Model" />
		<typeAlias alias="GoodsItemModel" type="IKaan.Model.IKBiz.GoodsItemModel, IKaan.Model" />
		<typeAlias alias="GoodsInfoNoticeModel" type="IKaan.Model.IKBiz.GoodsInfoNoticeModel, IKaan.Model" />
		<typeAlias alias="GoodsAttributeModel" type="IKaan.Model.IKBiz.GoodsAttributeModel, IKaan.Model" />
		<typeAlias alias="InfoNoticeModel" type="IKaan.Model.IKBiz.InfoNoticeModel, IKaan.Model" />
		<typeAlias alias="InfoNoticeItemModel" type="IKaan.Model.IKBiz.InfoNoticeItemModel, IKaan.Model" />

		<typeAlias alias="OrderSumModel" type="IKaan.Model.IKBiz.OrderSumModel, IKaan.Model" />
		<typeAlias alias="OrderSumByChannelModel" type="IKaan.Model.IKBiz.OrderSumByChannelModel, IKaan.Model" />
		<typeAlias alias="OrderSumSalesModel" type="IKaan.Model.IKBiz.OrderSumSalesModel, IKaan.Model" />
		
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.SystemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ServerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.DatabaseSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.TableSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ColumnSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.AppointmentSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.DepartmentSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.DepartmentHistSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.EmployeeSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.AddressSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.BusinessSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.BrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.BrandImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.BrandContactSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.BrandManagerSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.ChannelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.ChannelBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.ChannelContactSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.ChannelManagerSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.CustomerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.CustomerAddressSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.CustomerBankSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.CustomerBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.CustomerBusinessSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.CustomerChannelSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.PersonSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.SearchBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.SearchBrandActivitySQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.CategorySQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.GoodsSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.GoodsDetailSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.GoodsImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.GoodsItemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.GoodsInfoNoticeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.GoodsAttributeSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.InfoNoticeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.InfoNoticeItemSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBiz.OrderSumSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>