<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>

	<!--
	<database>
		<provider name="PostgreSql0.99.1.0" />
		<dataSource name="Aube" connectionString="Host=localhost;Username=aube;Password=aube;Database=IKaan.Was"/>
	</database>
	-->
<!-- IKaan0408@#$ -->
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="IKBase" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKBase; User Id=sa; Password=ikaan##&amp;"/>
  </database>
	
  <!--
  <dataSource name="IKaan" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IKAAN;Integrated Security=True;"/>
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="DWCTS_C" connectionString="Data Source=211.233.41.212; Initial Catalog=DWCTS_C; User Id=sa; Password=Eodnjscom2008"/>
  </database>
  -->

	<alias>
		<typeAlias alias="BookmarkModel" type="IKaan.Model.IKBase.BookmarkModel, IKaan.Model" />
		<typeAlias alias="BookmarkUserModel" type="IKaan.Model.IKBase.BookmarkUserModel, IKaan.Model" />
		<typeAlias alias="ButtonModel" type="IKaan.Model.IKBase.ButtonModel, IKaan.Model" />
		<typeAlias alias="GroupModel" type="IKaan.Model.IKBase.GroupModel, IKaan.Model" />
		<typeAlias alias="GroupMenuModel" type="IKaan.Model.IKBase.GroupMenuModel, IKaan.Model" />
		<typeAlias alias="GroupRoleModel" type="IKaan.Model.IKBase.GroupRoleModel, IKaan.Model" />
		<typeAlias alias="HelpModel" type="IKaan.Model.IKBase.HelpModel, IKaan.Model" />
		<typeAlias alias="LoginLogModel" type="IKaan.Model.IKBase.LoginLogModel, IKaan.Model" />
		<typeAlias alias="LoginLogUserModel" type="IKaan.Model.IKBase.LoginLogUserModel, IKaan.Model" />
		<typeAlias alias="MenuModel" type="IKaan.Model.IKBase.MenuModel, IKaan.Model" />
		<typeAlias alias="MenuViewModel" type="IKaan.Model.IKBase.MenuViewModel, IKaan.Model" />
		<typeAlias alias="ModuleModel" type="IKaan.Model.IKBase.ModuleModel, IKaan.Model" />
		<typeAlias alias="RoleModel" type="IKaan.Model.IKBase.RoleModel, IKaan.Model" />
		<typeAlias alias="UserModel" type="IKaan.Model.IKBase.UserModel, IKaan.Model" />
		<typeAlias alias="UserGroupModel" type="IKaan.Model.IKBase.UserGroupModel, IKaan.Model" />
		<typeAlias alias="UserRoleModel" type="IKaan.Model.IKBase.UserRoleModel, IKaan.Model" />
		<typeAlias alias="UserPasswordHistModel" type="IKaan.Model.IKBase.UserPasswordHistModel, IKaan.Model" />
		<typeAlias alias="ViewModel" type="IKaan.Model.IKBase.ViewModel, IKaan.Model" />
		<typeAlias alias="ViewButtonModel" type="IKaan.Model.IKBase.ViewButtonModel, IKaan.Model" />
		<typeAlias alias="ViewRoleModel" type="IKaan.Model.IKBase.ViewRoleModel, IKaan.Model" />
		<typeAlias alias="ViewRoleButtonModel" type="IKaan.Model.IKBase.ViewRoleButtonModel, IKaan.Model" />

		<typeAlias alias="CodeModel" type="IKaan.Model.IKBase.CodeModel, IKaan.Model" />
		<typeAlias alias="DictionaryModel" type="IKaan.Model.IKBase.DictionaryModel, IKaan.Model" />
		<typeAlias alias="MessageModel" type="IKaan.Model.IKBase.MessageModel, IKaan.Model" />

		<typeAlias alias="SystemModel" type="IKaan.Model.IKBase.SystemModel, IKaan.Model" />
		<typeAlias alias="ServerModel" type="IKaan.Model.IKBase.ServerModel, IKaan.Model" />
		<typeAlias alias="DatabaseModel" type="IKaan.Model.IKBase.DatabaseModel, IKaan.Model" />
		<typeAlias alias="TableModel" type="IKaan.Model.IKBase.TableModel, IKaan.Model" />
		<typeAlias alias="ColumnModel" type="IKaan.Model.IKBase.ColumnModel, IKaan.Model" />
		<typeAlias alias="TableStatisticsModel" type="IKaan.Model.IKBase.TableStatisticsModel, IKaan.Model" />

		<typeAlias alias="UCodeHelp" type="IKaan.Model.Common.UserModels.UCodeHelp, IKaan.Model" />
		<typeAlias alias="UCodeLookup" type="IKaan.Model.Common.UserModels.UCodeLookup, IKaan.Model" />
		<typeAlias alias="UCodeValue" type="IKaan.Model.Common.UserModels.UCodeValue, IKaan.Model" />
		<typeAlias alias="ULoginUser" type="IKaan.Model.Common.UserModels.ULoginUser, IKaan.Model" />
		<typeAlias alias="UMainMenu" type="IKaan.Model.Common.UserModels.UMainMenu, IKaan.Model" />
		<typeAlias alias="UMenuView" type="IKaan.Model.Common.UserModels.UMenuView, IKaan.Model" />
		<typeAlias alias="UMenuViewButton" type="IKaan.Model.Common.UserModels.UMenuViewButton, IKaan.Model" />
		
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Common.AuthSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.LoginLogSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ModuleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ViewSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ViewButtonSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.MenuSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.MenuViewSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ButtonSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.RoleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.GroupSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.GroupRoleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.GroupMenuSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.UserSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.UserGroupSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.UserRoleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.HelpModelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.CodeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.CodeHelpSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.DictionarySQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.MessageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.SystemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ServerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.DatabaseSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.TableSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ColumnSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>