<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>

	<!--
	<database>
		<provider name="PostgreSql0.99.1.0" />
		<dataSource name="Aube" connectionString="Host=localhost;Username=aube;Password=aube;Database=IKaan.Was"/>
	</database>
	-->
<!-- IKaan0408@#$ -->
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="IKBase" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKBase; User Id=sa; Password=ikaan##&amp;"/>
  </database>
	
  <!--
  <dataSource name="IKaan" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IKAAN;Integrated Security=True;"/>
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="DWCTS_C" connectionString="Data Source=211.233.41.212; Initial Catalog=DWCTS_C; User Id=sa; Password=Eodnjscom2008"/>
  </database>
  -->

	<alias>
		<typeAlias alias="BookmarkModel" type="IKaan.Model.Base.BookmarkModel, IKaan.Model" />
		<typeAlias alias="BookmarkUserModel" type="IKaan.Model.Base.BookmarkUserModel, IKaan.Model" />
		<typeAlias alias="ButtonModel" type="IKaan.Model.Base.ButtonModel, IKaan.Model" />
		<typeAlias alias="GroupModel" type="IKaan.Model.Base.GroupModel, IKaan.Model" />
		<typeAlias alias="GroupMenuModel" type="IKaan.Model.Base.GroupMenuModel, IKaan.Model" />
		<typeAlias alias="GroupRoleModel" type="IKaan.Model.Base.GroupRoleModel, IKaan.Model" />
		<typeAlias alias="HelpModel" type="IKaan.Model.Base.HelpModel, IKaan.Model" />
		<typeAlias alias="LoginLogModel" type="IKaan.Model.Base.LoginLogModel, IKaan.Model" />
		<typeAlias alias="LoginLogUserModel" type="IKaan.Model.Base.LoginLogUserModel, IKaan.Model" />
		<typeAlias alias="MenuModel" type="IKaan.Model.Base.MenuModel, IKaan.Model" />
		<typeAlias alias="MenuViewModel" type="IKaan.Model.Base.MenuViewModel, IKaan.Model" />
		<typeAlias alias="ModuleModel" type="IKaan.Model.Base.ModuleModel, IKaan.Model" />
		<typeAlias alias="RoleModel" type="IKaan.Model.Base.RoleModel, IKaan.Model" />
		<typeAlias alias="UserModel" type="IKaan.Model.Base.UserModel, IKaan.Model" />
		<typeAlias alias="UserGroupModel" type="IKaan.Model.Base.UserGroupModel, IKaan.Model" />
		<typeAlias alias="UserRoleModel" type="IKaan.Model.Base.UserRoleModel, IKaan.Model" />
		<typeAlias alias="UserPasswordHistModel" type="IKaan.Model.Base.UserPasswordHistModel, IKaan.Model" />
		<typeAlias alias="ViewModel" type="IKaan.Model.Base.ViewModel, IKaan.Model" />
		<typeAlias alias="ViewButtonModel" type="IKaan.Model.Base.ViewButtonModel, IKaan.Model" />
		<typeAlias alias="ViewRoleModel" type="IKaan.Model.Base.ViewRoleModel, IKaan.Model" />
		<typeAlias alias="ViewRoleButtonModel" type="IKaan.Model.Base.ViewRoleButtonModel, IKaan.Model" />

		<typeAlias alias="CodeModel" type="IKaan.Model.Base.CodeModel, IKaan.Model" />
		<typeAlias alias="DictionaryModel" type="IKaan.Model.Base.DictionaryModel, IKaan.Model" />
		<typeAlias alias="MessageModel" type="IKaan.Model.Base.MessageModel, IKaan.Model" />
		<typeAlias alias="CalendarModel" type="IKaan.Model.Base.CalendarModel, IKaan.Model" />
		<typeAlias alias="HolidayModel" type="IKaan.Model.Base.HolidayModel, IKaan.Model" />

		<typeAlias alias="SystemModel" type="IKaan.Model.Base.SystemModel, IKaan.Model" />
		<typeAlias alias="ServerModel" type="IKaan.Model.Base.ServerModel, IKaan.Model" />
		<typeAlias alias="DatabaseModel" type="IKaan.Model.Base.DatabaseModel, IKaan.Model" />
		<typeAlias alias="TableModel" type="IKaan.Model.Base.TableModel, IKaan.Model" />
		<typeAlias alias="ColumnModel" type="IKaan.Model.Base.ColumnModel, IKaan.Model" />
		<typeAlias alias="TableStatisticsModel" type="IKaan.Model.Base.TableStatisticsModel, IKaan.Model" />

		<typeAlias alias="FileUploadModel" type="IKaan.Model.Base.FileUploadModel, IKaan.Model" />

		<typeAlias alias="UCodeHelp" type="IKaan.Model.Common.UserModels.UCodeHelp, IKaan.Model" />
		<typeAlias alias="UCodeLookup" type="IKaan.Model.Common.UserModels.UCodeLookup, IKaan.Model" />
		<typeAlias alias="UCodeValue" type="IKaan.Model.Common.UserModels.UCodeValue, IKaan.Model" />
		<typeAlias alias="ULoginUser" type="IKaan.Model.Common.UserModels.ULoginUser, IKaan.Model" />
		<typeAlias alias="UMainMenu" type="IKaan.Model.Common.UserModels.UMainMenu, IKaan.Model" />
		<typeAlias alias="UMenuView" type="IKaan.Model.Common.UserModels.UMenuView, IKaan.Model" />
		<typeAlias alias="UMenuViewButton" type="IKaan.Model.Common.UserModels.UMenuViewButton, IKaan.Model" />
		
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Common.AuthSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.LoginLogSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.ModuleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.ViewSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.ViewButtonSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.MenuSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.MenuViewSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.ButtonSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.RoleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.GroupSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.GroupRoleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.GroupMenuSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.UserSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.UserGroupSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.UserRoleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.HelpSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.BookmarkSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.CodeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.CodeHelpSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.DictionarySQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.MessageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.CalendarSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.HolidaySQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.SystemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.ServerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.DatabaseSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.TableSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.ColumnSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.FileUploadSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>