<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="true" />
	</settings>

	<providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>
	
	<database>
		<provider name="sqlServer2.0" />
		<dataSource name="IKBiz" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKBiz; User Id=sa; Password=ikaan##&amp;"/>
	</database>
	<alias>
		<typeAlias alias="SystemModel" type="IKaan.Model.Base.SystemModel, IKaan.Model" />
		<typeAlias alias="ServerModel" type="IKaan.Model.Base.ServerModel, IKaan.Model" />
		<typeAlias alias="DatabaseModel" type="IKaan.Model.Base.DatabaseModel, IKaan.Model" />
		<typeAlias alias="TableModel" type="IKaan.Model.Base.TableModel, IKaan.Model" />
		<typeAlias alias="ColumnModel" type="IKaan.Model.Base.ColumnModel, IKaan.Model" />
		<typeAlias alias="TableStatisticsModel" type="IKaan.Model.Base.TableStatisticsModel, IKaan.Model" />

		<typeAlias alias="FileUploadModel" type="IKaan.Model.Base.FileUploadModel, IKaan.Model" />

		<typeAlias alias="AddressModel" type="IKaan.Model.Biz.AddressModel, IKaan.Model" />
		<typeAlias alias="AppointmentModel" type="IKaan.Model.Biz.AppointmentModel, IKaan.Model" />
		<typeAlias alias="AttributeTypeModel" type="IKaan.Model.Biz.AttributeTypeModel, IKaan.Model" />
		<typeAlias alias="AttributeModel" type="IKaan.Model.Biz.AttributeModel, IKaan.Model" />
		<typeAlias alias="BankAccountModel" type="IKaan.Model.Biz.BankAccountModel, IKaan.Model" />
		<typeAlias alias="BillingAddressModel" type="IKaan.Model.Biz.BillingAddressModel, IKaan.Model" />

		<typeAlias alias="BrandModel" type="IKaan.Model.Biz.BrandModel, IKaan.Model" />
		<typeAlias alias="BrandImageModel" type="IKaan.Model.Biz.BrandImageModel, IKaan.Model" />
		<typeAlias alias="BrandAttributeModel" type="IKaan.Model.Biz.BrandAttributeModel, IKaan.Model" />

		<typeAlias alias="BusinessModel" type="IKaan.Model.Biz.BusinessModel, IKaan.Model" />
		<typeAlias alias="BusinessLinksModel" type="IKaan.Model.Biz.BusinessLinksModel, IKaan.Model" />

		<typeAlias alias="CategoryModel" type="IKaan.Model.Biz.CategoryModel, IKaan.Model" />

		<typeAlias alias="ChannelModel" type="IKaan.Model.Biz.ChannelModel, IKaan.Model" />
		<typeAlias alias="ChannelBrandModel" type="IKaan.Model.Biz.ChannelBrandModel, IKaan.Model" />
		<typeAlias alias="ChannelAttributeModel" type="IKaan.Model.Biz.ChannelAttributeModel, IKaan.Model" />
		<typeAlias alias="ChannelSettingModel" type="IKaan.Model.Biz.ChannelSettingModel, IKaan.Model" />

		<typeAlias alias="CompanyModel" type="IKaan.Model.Biz.CompanyModel, IKaan.Model" />
		<typeAlias alias="CompanyAddressModel" type="IKaan.Model.Biz.CompanyAddressModel, IKaan.Model" />
		<typeAlias alias="CompanyBankAccountModel" type="IKaan.Model.Biz.CompanyBankAccountModel, IKaan.Model" />
		<typeAlias alias="CompanyBusinessModel" type="IKaan.Model.Biz.CompanyBusinessModel, IKaan.Model" />
		<typeAlias alias="CompanyContactModel" type="IKaan.Model.Biz.CompanyContactModel, IKaan.Model" />
		<typeAlias alias="CompanyStoreModel" type="IKaan.Model.Biz.CompanyStoreModel, IKaan.Model" />

		<typeAlias alias="ContactModel" type="IKaan.Model.Biz.ContactModel, IKaan.Model" />

		<typeAlias alias="CustomerModel" type="IKaan.Model.Biz.CustomerModel, IKaan.Model" />
		<typeAlias alias="CustomerAddressModel" type="IKaan.Model.Biz.CustomerAddressModel, IKaan.Model" />
		<typeAlias alias="CustomerBankAccountModel" type="IKaan.Model.Biz.CustomerBankAccountModel, IKaan.Model" />
		<typeAlias alias="CustomerBrandModel" type="IKaan.Model.Biz.CustomerBrandModel, IKaan.Model" />
		<typeAlias alias="CustomerBusinessModel" type="IKaan.Model.Biz.CustomerBusinessModel, IKaan.Model" />
		<typeAlias alias="CustomerChannelModel" type="IKaan.Model.Biz.CustomerChannelModel, IKaan.Model" />
		<typeAlias alias="CustomerContactModel" type="IKaan.Model.Biz.CustomerContactModel, IKaan.Model" />
		<typeAlias alias="CustomerManagerModel" type="IKaan.Model.Biz.CustomerManagerModel, IKaan.Model" />
		<typeAlias alias="CustomerStoreModel" type="IKaan.Model.Biz.CustomerStoreModel, IKaan.Model" />

		<typeAlias alias="DepartmentModel" type="IKaan.Model.Biz.DepartmentModel, IKaan.Model" />
		<typeAlias alias="DepartmentHistoryModel" type="IKaan.Model.Biz.DepartmentHistoryModel, IKaan.Model" />

		<typeAlias alias="EmployeeModel" type="IKaan.Model.Biz.EmployeeModel, IKaan.Model" />

		<typeAlias alias="ImageModel" type="IKaan.Model.Biz.ImageModel, IKaan.Model" />

		<typeAlias alias="InfoNoticeModel" type="IKaan.Model.Biz.InfoNoticeModel, IKaan.Model" />
		<typeAlias alias="InfoNoticeItemModel" type="IKaan.Model.Biz.InfoNoticeItemModel, IKaan.Model" />

		<typeAlias alias="OrderModel" type="IKaan.Model.Biz.OrderModel, IKaan.Model" />
		<typeAlias alias="OrderItemModel" type="IKaan.Model.Biz.OrderItemModel, IKaan.Model" />
		<typeAlias alias="OrderNoteModel" type="IKaan.Model.Biz.OrderNoteModel, IKaan.Model" />

		<typeAlias alias="OrderSumByBrandModel" type="IKaan.Model.Biz.OrderSumByBrandModel, IKaan.Model" />
		<typeAlias alias="OrderSumByChannelModel" type="IKaan.Model.Biz.OrderSumByChannelModel, IKaan.Model" />
		<typeAlias alias="OrderSumModel" type="IKaan.Model.Biz.OrderSumModel, IKaan.Model" />
		<typeAlias alias="OrderSumSalesModel" type="IKaan.Model.Biz.OrderSumSalesModel, IKaan.Model" />

		<typeAlias alias="PartnerModel" type="IKaan.Model.Biz.PartnerModel, IKaan.Model" />
		<typeAlias alias="PartnerAddressModel" type="IKaan.Model.Biz.PartnerAddressModel, IKaan.Model" />
		<typeAlias alias="PartnerBankAccountModel" type="IKaan.Model.Biz.PartnerBankAccountModel, IKaan.Model" />
		<typeAlias alias="PartnerBrandModel" type="IKaan.Model.Biz.PartnerBrandModel, IKaan.Model" />
		<typeAlias alias="PartnerBusinessModel" type="IKaan.Model.Biz.PartnerBusinessModel, IKaan.Model" />
		<typeAlias alias="PartnerChannelModel" type="IKaan.Model.Biz.PartnerChannelModel, IKaan.Model" />
		<typeAlias alias="PartnerContactModel" type="IKaan.Model.Biz.PartnerContactModel, IKaan.Model" />
		<typeAlias alias="PartnerManagerModel" type="IKaan.Model.Biz.PartnerManagerModel, IKaan.Model" />
		<typeAlias alias="PartnerStoreModel" type="IKaan.Model.Biz.PartnerStoreModel, IKaan.Model" />

		<typeAlias alias="ProductModel" type="IKaan.Model.Biz.ProductModel, IKaan.Model" />
		<typeAlias alias="ProductDescriptionModel" type="IKaan.Model.Biz.ProductDescriptionModel, IKaan.Model" />
		<typeAlias alias="ProductImageModel" type="IKaan.Model.Biz.ProductImageModel, IKaan.Model" />
		<typeAlias alias="ProductItemModel" type="IKaan.Model.Biz.ProductItemModel, IKaan.Model" />
		<typeAlias alias="ProductInfoNoticeModel" type="IKaan.Model.Biz.ProductInfoNoticeModel, IKaan.Model" />
		<typeAlias alias="ProductAttributeModel" type="IKaan.Model.Biz.ProductAttributeModel, IKaan.Model" />
		<typeAlias alias="ProductChannelGoodsModel" type="IKaan.Model.Biz.ProductChannelGoodsModel, IKaan.Model" />

		<typeAlias alias="ReturnRequestModel" type="IKaan.Model.Biz.ReturnRequestModel, IKaan.Model" />
		
		<typeAlias alias="SearchBrandModel" type="IKaan.Model.Biz.SearchBrandModel, IKaan.Model" />
		<typeAlias alias="SearchBrandActivityModel" type="IKaan.Model.Biz.SearchBrandActivityModel, IKaan.Model" />

		<typeAlias alias="ShippingAddressModel" type="IKaan.Model.Biz.ShippingAddressModel, IKaan.Model" />
		<typeAlias alias="StoreModel" type="IKaan.Model.Biz.StoreModel, IKaan.Model" />
		
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.SystemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.ServerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.DatabaseSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.TableSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.ColumnSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.FileUploadSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.AddressSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.AppointmentSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.AttributeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.AttributeTypeSQL.xml, IKaan.Was.Core" />
		
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.BankAccountSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.BillingAddressSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.BrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.BrandImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.BrandAttributeSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.BusinessSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CategorySQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ChannelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ChannelAttributeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ChannelBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ChannelSettingSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CompanySQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CompanyAddressSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CompanyBankAccountSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CompanyBusinessSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CompanyContactSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CompanyStoreSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ContactSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CustomerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CustomerAddressSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CustomerBankAccountSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CustomerBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CustomerBusinessSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CustomerChannelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CustomerContactSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CustomerManagerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.CustomerStoreSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.DepartmentSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.DepartmentHistorySQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.EmployeeSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ImageSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.InfoNoticeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.InfoNoticeItemSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.OrderSumSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.PartnerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.PartnerAddressSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.PartnerBankAccountSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.PartnerBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.PartnerBusinessSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.PartnerChannelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.PartnerContactSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.PartnerManagerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.PartnerStoreSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ProductSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ProductAttributeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ProductChannelGoodsSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ProductDescriptionSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ProductImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ProductInfoNoticeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.ProductItemSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.SearchBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.SearchBrandActivitySQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Biz.StoreSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>