<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>
	
  <database>
    <provider name="sqlServer2.0" />
	  <dataSource name="IKScrap" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKScrap; User Id=sa; Password=ikaan##&amp;"/>
  </database>

	<alias>
		<typeAlias alias="SystemModel" type="IKaan.Model.Base.Database.SystemModel, IKaan.Model" />
		<typeAlias alias="ServerModel" type="IKaan.Model.Base.Database.ServerModel, IKaan.Model" />
		<typeAlias alias="DatabaseModel" type="IKaan.Model.Base.Database.DatabaseModel, IKaan.Model" />
		<typeAlias alias="TableModel" type="IKaan.Model.Base.Database.TableModel, IKaan.Model" />
		<typeAlias alias="ColumnModel" type="IKaan.Model.Base.Database.ColumnModel, IKaan.Model" />
		<typeAlias alias="TableStatisticsModel" type="IKaan.Model.Base.Database.TableStatisticsModel, IKaan.Model" />

		<typeAlias alias="FileUploadModel" type="IKaan.Model.Base.Common.FileUploadModel, IKaan.Model" />

		<typeAlias alias="ScrapSiteModel" type="IKaan.Model.Scrap.Common.ScrapSiteModel, IKaan.Model" />
		<typeAlias alias="ScrapBrandModel" type="IKaan.Model.Scrap.Common.ScrapBrandModel, IKaan.Model" />
		<typeAlias alias="ScrapCategoryModel" type="IKaan.Model.Scrap.Common.ScrapCategoryModel, IKaan.Model" />
		<typeAlias alias="ScrapProductModel" type="IKaan.Model.Scrap.Common.ScrapProductModel, IKaan.Model" />
		<typeAlias alias="ScrapProductImageModel" type="IKaan.Model.Scrap.Common.ScrapProductImageModel, IKaan.Model" />
		<typeAlias alias="ScrapColorModel" type="IKaan.Model.Scrap.Common.ScrapColorModel, IKaan.Model" />
		<typeAlias alias="ScrapSizeModel" type="IKaan.Model.Scrap.Common.ScrapSizeModel, IKaan.Model" />
		<typeAlias alias="ScrapOptionModel" type="IKaan.Model.Scrap.Common.ScrapOptionModel, IKaan.Model" />

		<typeAlias alias="SmapsAgencyModel" type="IKaan.Model.Scrap.Smaps.SmapsAgencyModel, IKaan.Model" />
		<typeAlias alias="SmapsBrandModel" type="IKaan.Model.Scrap.Smaps.SmapsBrandModel, IKaan.Model" />
		<typeAlias alias="SmapsCategoryModel" type="IKaan.Model.Scrap.Smaps.SmapsCategoryModel, IKaan.Model" />
		<typeAlias alias="SmapsColorModel" type="IKaan.Model.Scrap.Smaps.SmapsColorModel, IKaan.Model" />
		<typeAlias alias="SmapsLookbookModel" type="IKaan.Model.Scrap.Smaps.SmapsLookbookModel, IKaan.Model" />
		<typeAlias alias="SmapsProductModel" type="IKaan.Model.Scrap.Smaps.SmapsProductModel, IKaan.Model" />
		<typeAlias alias="SmapsSizeModel" type="IKaan.Model.Scrap.Smaps.SmapsSizeModel, IKaan.Model" />
		<typeAlias alias="SmapsUserModel" type="IKaan.Model.Scrap.Smaps.SmapsUserModel, IKaan.Model" />
		<typeAlias alias="SmapsRequestModel" type="IKaan.Model.Scrap.Smaps.SmapsRequestModel, IKaan.Model" />

		<typeAlias alias="ScrapBrandToSmapsModel" type="IKaan.Model.Scrap.Mapping.ScrapBrandToSmapsModel, IKaan.Model" />
		<typeAlias alias="ScrapCategoryToSmapsModel" type="IKaan.Model.Scrap.Mapping.ScrapCategoryToSmapsModel, IKaan.Model" />
		<typeAlias alias="ScrapProductToSmapsModel" type="IKaan.Model.Scrap.Mapping.ScrapProductToSmapsModel, IKaan.Model" />
		<typeAlias alias="ScrapColorToSmapsModel" type="IKaan.Model.Scrap.Mapping.ScrapColorToSmapsModel, IKaan.Model" />
		<typeAlias alias="ScrapSizeToSmapsModel" type="IKaan.Model.Scrap.Mapping.ScrapSizeToSmapsModel, IKaan.Model" />
		
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.Database.SystemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.Database.ServerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.Database.DatabaseSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.Database.TableSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.Database.ColumnSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Base.Common.FileUploadSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Common.ScrapSiteSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Common.ScrapBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Common.ScrapCategorySQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Common.ScrapProductSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Common.ScrapProductImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Common.ScrapColorSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Common.ScrapSizeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Common.ScrapOptionSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Smaps.SmapsAgencySQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Smaps.SmapsBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Smaps.SmapsCategorySQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Smaps.SmapsColorSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Smaps.SmapsLookbookSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Smaps.SmapsProductSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Smaps.SmapsSizeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Smaps.SmapsUserSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Smaps.SmapsRequestSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Mapping.ScrapBrandToSmapsSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Mapping.ScrapCategoryToSmapsSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Mapping.ScrapProductToSmapsSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Mapping.ScrapColorToSmapsSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.Scrap.Mapping.ScrapSizeToSmapsSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>