<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="true" />
	</settings>

	<providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>
	
	<database>
		<provider name="sqlServer2.0" />
		<dataSource name="IKB2B" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKB2B; User Id=sa; Password=ikaan##&amp;"/>
	</database>
	<alias>
		<typeAlias alias="SystemModel" type="IKaan.Model.Base.SystemModel, IKaan.Model" />
		<typeAlias alias="ServerModel" type="IKaan.Model.Base.ServerModel, IKaan.Model" />
		<typeAlias alias="DatabaseModel" type="IKaan.Model.Base.DatabaseModel, IKaan.Model" />
		<typeAlias alias="TableModel" type="IKaan.Model.Base.TableModel, IKaan.Model" />
		<typeAlias alias="ColumnModel" type="IKaan.Model.Base.ColumnModel, IKaan.Model" />
		<typeAlias alias="TableStatisticsModel" type="IKaan.Model.Base.TableStatisticsModel, IKaan.Model" />
		
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.SystemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ServerSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.DatabaseSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.TableSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.IKBase.ColumnSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>