@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section>
        <div class="gate">
            <div class="copy">
                <strong class="maincopy"><span class="web_s">Main</span> &amp; <span class="web_a">Page</span></strong>
                <p class="text">
                    <input type="text" id="id" name="id" value="@ViewBag.LoginID" />
                    <input type="text" id="name" name="name" value="@ViewBag.LoginName" /> 
                </p>               
            </div>
        </div>
    </section>

