<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="true" />
	</settings>

	<providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>
	
	<database>
		<provider name="sqlServer2.0" />
		<dataSource name="IKLIB" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKBIZ; User Id=sa; Password=ikaan##&amp;"/>
	</database>
	<alias>
		<typeAlias alias="BMSearchBrand" type="IKaan.Model.BIZ.BM.BMSearchBrand, IKaan.Model" />
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMSearchBrandSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>