<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false" />
		<setting cacheModelsEnabled="true" />
		<setting validateSqlMap="true" />
	</settings>

	<providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>
	
	<database>
		<provider name="sqlServer2.0" />
		<dataSource name="IKLIB" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKBIZ; User Id=sa; Password=ikaan##&amp;"/>
	</database>
	<alias>
		<typeAlias alias="BMBrand" type="IKaan.Model.LIB.LM.BMBrand, IKaan.Model" />
		<typeAlias alias="BMBrandImage" type="IKaan.Model.LIB.LM.BMBrandImage, IKaan.Model" />
		<typeAlias alias="BMCustomer" type="IKaan.Model.LIB.LM.BMCustomer, IKaan.Model" />
		<typeAlias alias="BMCustomerBrand" type="IKaan.Model.LIB.LM.BMCustomerBrand, IKaan.Model" />
		<typeAlias alias="BMCustomerChannel" type="IKaan.Model.LIB.LM.BMCustomerChannel, IKaan.Model" />
		<typeAlias alias="BMCustomerAddress" type="IKaan.Model.LIB.LM.BMCustomerAddress, IKaan.Model" />
		<typeAlias alias="BMCustomerBusiness" type="IKaan.Model.LIB.LM.BMCustomerBusiness, IKaan.Model" />
		<typeAlias alias="BMCustomerBank" type="IKaan.Model.LIB.LM.BMCustomerBank, IKaan.Model" />
		<typeAlias alias="BMChannel" type="IKaan.Model.LIB.LM.BMChannel, IKaan.Model" />
		<typeAlias alias="BMChannelBrand" type="IKaan.Model.LIB.LM.BMChannelBrand, IKaan.Model" />
		<typeAlias alias="BGGoods" type="IKaan.Model.LIB.LG.BGGoods, IKaan.Model" />
		<typeAlias alias="BGGoodsDetail" type="IKaan.Model.LIB.LG.BGGoodsDetail, IKaan.Model" />
		<typeAlias alias="BGGoodsImage" type="IKaan.Model.LIB.LG.BGGoodsImage, IKaan.Model" />
		<typeAlias alias="BGGoodsItem" type="IKaan.Model.LIB.LG.BGGoodsItem, IKaan.Model" />
		<typeAlias alias="BGGoodsPrice" type="IKaan.Model.LIB.LG.BGGoodsPrice, IKaan.Model" />
		<typeAlias alias="BMSearchBrand" type="IKaan.Model.BIZ.BM.BMSearchBrand, IKaan.Model" />
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BM.BMBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BM.BMBrandImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BM.BMCustomerBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BM.BMCustomerChannelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BM.BMChannelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BM.BMChannelBrandSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BG.BGGoodsSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BG.BGGoodsDetailSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BG.BGGoodsImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BG.BGGoodsItemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.BG.BGGoodsPriceSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.BIZ.BM.BMSearchBrandSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>