<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>
	
  <database>
    <provider name="sqlServer2.0" />
	  <dataSource name="IKLIB" connectionString="Data Source=192.168.0.111,1433; Initial Catalog=IKLIB; User Id=sa; Password=ikaan##&amp;"/>
  </database>

	<alias>
		<typeAlias alias="LMBrand" type="IKaan.Model.LIB.LM.LMBrand, IKaan.Model" />
		<typeAlias alias="LMBrandImage" type="IKaan.Model.LIB.LM.LMBrandImage, IKaan.Model" />
		<typeAlias alias="LMCustomer" type="IKaan.Model.LIB.LM.LMCustomer, IKaan.Model" />
		<typeAlias alias="LMCustomerBrand" type="IKaan.Model.LIB.LM.LMCustomerBrand, IKaan.Model" />
		<typeAlias alias="LMCustomerChannel" type="IKaan.Model.LIB.LM.LMCustomerChannel, IKaan.Model" />
		<typeAlias alias="LMCustomerAddress" type="IKaan.Model.LIB.LM.LMCustomerAddress, IKaan.Model" />
		<typeAlias alias="LMCustomerBusiness" type="IKaan.Model.LIB.LM.LMCustomerBusiness, IKaan.Model" />
		<typeAlias alias="LMCustomerBank" type="IKaan.Model.LIB.LM.LMCustomerBank, IKaan.Model" />
		<typeAlias alias="LMChannel" type="IKaan.Model.LIB.LM.LMChannel, IKaan.Model" />
		<typeAlias alias="LMChannelBrand" type="IKaan.Model.LIB.LM.LMChannelBrand, IKaan.Model" />
		<typeAlias alias="LGGoods" type="IKaan.Model.LIB.LG.LGGoods, IKaan.Model" />
		<typeAlias alias="LGGoodsDetail" type="IKaan.Model.LIB.LG.LGGoodsDetail, IKaan.Model" />
		<typeAlias alias="LGGoodsImage" type="IKaan.Model.LIB.LG.LGGoodsImage, IKaan.Model" />
		<typeAlias alias="LGGoodsItem" type="IKaan.Model.LIB.LG.LGGoodsItem, IKaan.Model" />
		<typeAlias alias="LGGoodsPrice" type="IKaan.Model.LIB.LG.LGGoodsPrice, IKaan.Model" />
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LM.LMBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LM.LMBrandImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LM.LMCustomerBrandSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LM.LMCustomerChannelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LM.LMChannelSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LM.LMChannelBrandSQL.xml, IKaan.Was.Core" />

		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LG.LGGoodsSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LG.LGGoodsDetailSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LG.LGGoodsImageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LG.LGGoodsItemSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.LIB.LG.LGGoodsPriceSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>