<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers embedded="IKaan.Was.Core.Config.providers.config, IKaan.Was.Core"/>

	<!--
	<database>
		<provider name="PostgreSql0.99.1.0" />
		<dataSource name="Aube" connectionString="Host=localhost;Username=aube;Password=aube;Database=IKaan.Was"/>
	</database>
	-->
<!-- IKaan0408@#$ -->
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="IKaan" connectionString="Data Source=DESKTOP-ALEX; Initial Catalog=IKAAN; Integrated Security=True;"/>
  </database>
	
  <!--
  <dataSource name="IKaan" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IKAAN;Integrated Security=True;"/>
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="DWCTS_C" connectionString="Data Source=211.233.41.212; Initial Catalog=DWCTS_C; User Id=sa; Password=Eodnjscom2008"/>
  </database>
  -->

	<alias>
		<typeAlias alias="AABookmark" type="IKaan.Model.SYS.AA.AABookmark, IKaan.Model" />
		<typeAlias alias="AABookmarkUser" type="IKaan.Model.SYS.AA.AABookmarkUser, IKaan.Model" />
		<typeAlias alias="AAButton" type="IKaan.Model.SYS.AA.AAButton, IKaan.Model" />
		<typeAlias alias="AAGroup" type="IKaan.Model.SYS.AA.AAGroup, IKaan.Model" />
		<typeAlias alias="AAGroupMenu" type="IKaan.Model.SYS.AA.AAGroupMenu, IKaan.Model" />
		<typeAlias alias="AAGroupRole" type="IKaan.Model.SYS.AA.AAGroupRole, IKaan.Model" />
		<typeAlias alias="AAHelp" type="IKaan.Model.SYS.AA.AAHelp, IKaan.Model" />
		<typeAlias alias="AALoginLog" type="IKaan.Model.SYS.AA.AALoginLog, IKaan.Model" />
		<typeAlias alias="AALoginLogUser" type="IKaan.Model.SYS.AA.AALoginLogUser, IKaan.Model" />
		<typeAlias alias="AAMenu" type="IKaan.Model.SYS.AA.AAMenu, IKaan.Model" />
		<typeAlias alias="AAMenuView" type="IKaan.Model.SYS.AA.AAMenuView, IKaan.Model" />
		<typeAlias alias="AAModule" type="IKaan.Model.SYS.AA.AAModule, IKaan.Model" />
		<typeAlias alias="AARole" type="IKaan.Model.SYS.AA.AARole, IKaan.Model" />
		<typeAlias alias="AAUser" type="IKaan.Model.SYS.AA.AAUser, IKaan.Model" />
		<typeAlias alias="AAUserGroup" type="IKaan.Model.SYS.AA.AAUserGroup, IKaan.Model" />
		<typeAlias alias="AAUserRole" type="IKaan.Model.SYS.AA.AAUserRole, IKaan.Model" />
		<typeAlias alias="AAUserPasswordHist" type="IKaan.Model.SYS.AA.AAUserPasswordHist, IKaan.Model" />
		<typeAlias alias="AAView" type="IKaan.Model.SYS.AA.AAView, IKaan.Model" />
		<typeAlias alias="AAViewButton" type="IKaan.Model.SYS.AA.AAViewButton, IKaan.Model" />
		<typeAlias alias="AAViewRole" type="IKaan.Model.SYS.AA.AAViewRole, IKaan.Model" />
		<typeAlias alias="AAViewRoleButton" type="IKaan.Model.SYS.AA.AAViewRoleButton, IKaan.Model" />

		<typeAlias alias="ACCode" type="IKaan.Model.SYS.AC.ACCode, IKaan.Model" />
		<typeAlias alias="ACDictionary" type="IKaan.Model.SYS.AC.ACDictionary, IKaan.Model" />
		<typeAlias alias="ACMessage" type="IKaan.Model.SYS.AC.ACMessage, IKaan.Model" />

		<typeAlias alias="ADSystem" type="IKaan.Model.SYS.AD.ADSystem, IKaan.Model" />
		<typeAlias alias="ADServer" type="IKaan.Model.SYS.AD.ADServer, IKaan.Model" />
		<typeAlias alias="ADDatabase" type="IKaan.Model.SYS.AD.ADDatabase, IKaan.Model" />
		<typeAlias alias="ADSchema" type="IKaan.Model.SYS.AD.ADSchema, IKaan.Model" />
		<typeAlias alias="ADTable" type="IKaan.Model.SYS.AD.ADTable, IKaan.Model" />
		<typeAlias alias="ADColumn" type="IKaan.Model.SYS.AD.ADColumn, IKaan.Model" />

		<typeAlias alias="UMCodeHelp" type="IKaan.Model.UserModels.UMCodeHelp, IKaan.Model" />
		<typeAlias alias="UMCodeLookup" type="IKaan.Model.UserModels.UMCodeLookup, IKaan.Model" />
		<typeAlias alias="UMCodeValue" type="IKaan.Model.UserModels.UMCodeValue, IKaan.Model" />
		<typeAlias alias="UMLoginUser" type="IKaan.Model.UserModels.UMLoginUser, IKaan.Model" />
		<typeAlias alias="UMMainMenu" type="IKaan.Model.UserModels.UMMainMenu, IKaan.Model" />
		<typeAlias alias="UMMenuView" type="IKaan.Model.UserModels.UMMenuView, IKaan.Model" />
		<typeAlias alias="UMMenuViewButton" type="IKaan.Model.UserModels.UMMenuViewButton, IKaan.Model" />
		
		<typeAlias alias="DataMap" type="IKaan.Base.Map.DataMap, IKaan.Base" />
		<typeAlias alias="Int" type="System.Int32"/>
		<typeAlias alias="String" type="System.String"/>
	</alias>

	<sqlMaps>
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.AUTH.AuthSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AALoginLogSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAModuleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAViewSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAViewButtonSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAMenuSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAMenuViewSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAButtonSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AARoleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAGroupSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAGroupRoleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAGroupMenuSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAUserSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAUserGroupSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAUserRoleSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AA.AAHelpSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AC.ACCodeSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AC.ACCodeHelpSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AC.ACDictionarySQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AC.ACMessageSQL.xml, IKaan.Was.Core" />
		<sqlMap embedded="IKaan.Was.Core.SqlMaps.SYS.AD.ADDatabaseSQL.xml, IKaan.Was.Core" />
	</sqlMaps>
  
</sqlMapConfig>