@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel='stylesheet' href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  
    <script type="text/javascript">
        $(document).ready(function () {

            $("#UserID").focus();

            $("#UserPW").keypress(function (e) {
                if (e.which == 13) {
                    $("#btn_login").click();
                }
            });

            $("#btn_login").click(function () {
                var UserID = $.trim($("#UserID").val());
                var UserPW = $.trim($("#UserPW").val());

                if (UserID == "") {
                    alert("아이디를 넣어주세요!");
                    $("#UserID").focus();
                    return false;
                }
                if (UserPW == "") {
                    alert("비밀번호를 넣어주세요!");
                    $("#UserPW").focus();
                    return false;
                }


                $.ajax({
                    type: "POST",
                    url: "/Login/Login",
                    contentType: "application/json; charset=utf-8",
                    data: "{'UserID':'" + UserID + "','UserPW':'" + UserPW + "'}",
                    dataType: "json",
                    async: false,
                    success: function (result) {
                        if (result.RtnVal == 'D' || result.RtnVal == 'F') {
                            alert("아이디나 비밀번호가 틀립니다. 확인 바랍니다.");
                        } else if (result.RtnVal == "S") {
                            if ($("#Reurl").val() == "")
                            {
                                document.location.href = "";
                            } else {
                                document.location.href = $("#Reurl").val();
                            }
                        }
                    },
                    error: function (result) {
                        alert(result.responseText);
                    }
                });

                return false;
            });
        });
    </script>
</head>
<body style="background:#eeeded;">
    <div id="login_wrap">
        <div id="login_box">
            <h1>
               로그인 페이지
            </h1>
            <section>
                <input type="hidden" name="Reurl" id="Reurl" value="@ViewBag.Reurl" />
                <div id="login">
                    <ul>
                        <li>아이디<input type="text" name="UserID" id="UserID" /></li>
                        <li>패스워드<input type="password" name="UserPW" id="UserPW" /></li>
                        <li class="btn"><a href="#" id="btn_login">로그인</a></li>
                    </ul>
                   
                </div>
            </section>
           
        </div><!-- //login_box -->
    </div>
    <!-- //wrap -->

</body>
</html>
